<app-header></app-header>

<div class="inPageHeader">Search For a Member</div>

<div id="mainForm">
  <div class="row">
    <div class="col">
      <label for="lastName">Last Name</label>
      <input id="lastName" [(ngModel)]="lastName" class="form-control" type="text" />
    </div>
    <div class="col">
      <label for="dateOfBirth">Date of Birth (MM/DD/YYYY)</label>
      <input id="dateOfBirth" [(ngModel)]="dateOfBirth" class="form-control" type="text" />
    </div>
    <div class="col">
      <label for="phoneNumber">Phone Number</label>
      <input id="phoneNumber" [(ngModel)]="phoneNumber" class="form-control" type="text" />
    </div>
    <div class="col-2 align-items-center">
      <br />
      <button class="btn btn-green form-control" style="margin-top:3px" (click)="memberSearch()">Search</button>
    </div>
  </div>

  <div *ngIf="results" class="inPageSubHeader" style="text-align: left;">{{results.length}} Results</div>
  <div *ngIf="results">
    <div class="row">
      <div class="col-5">
        <label>Last Name</label>
      </div>
      <div class="col-5">
        <label>Date of Birth (MM/DD/YYYY)</label>
      </div>
      <div class="col">
        <label>&nbsp;</label>
      </div>
    </div>
  </div>
  <app-member-search-result class="members-list" *ngFor="let result of results" [result]="result"></app-member-search-result>

</div>
