<app-header></app-header>

<div class="inPageHeader">Search For a Member</div>

<div id="mainForm">
  <div class="row">
    <div class="col">
      <label for="lastName">Last Name *</label>
      <input type="text" [(ngModel)]="lastName" />
    </div>
    <div class="col">
      <label for="dateOfBirth">Date of Birth (MM/DD/YYYY) *</label>
      <input type="text" [(ngModel)]="dateOfBirth" />
    </div>
    <div class="col align-items-center">
      <button class="btn btn-success" (click)="memberSearch()">Search</button>
    </div>
</div>
