<div id="mainForm">
    <div class="row">
      <div class="col">
        <label for="member.lastName">Last Name *</label>
        <input type="text" [(ngModel)]="member.lastName" />
      </div>
      <div class="col">
        <label for="member.firstName">First Name *</label>
        <input type="text" [(ngModel)]="member.firstName" />
      </div>
      <div class="col">
        <label for="member.dateOfBirth">DOB *</label>
        <input type="text" [(ngModel)]="member.dateOfBirth" />
      </div>
    </div>
</div>
<hr/>
