<div id="mainForm">
  <div class="row">
    <div class="col">
      <label for="member.lastName">Member Last Name *</label>
      <input id="member.lastName" name="member.lastName" class="form-control" type="text" [(ngModel)]="member.lastName" />
    </div>
    <div class="col">
      <label for="member.firstName">Member First Name *</label>
      <input id="member.firstName" name="member.firstName" class="form-control" type="text" [(ngModel)]="member.firstName" />
    </div>
    <div class="col-2">
      <label for="member.dateOfBirth">Member DOB *</label>
      <input id="member.dateOfBirth" name="member.dateOfBirth" class="form-control" type="text" [(ngModel)]="member.dateOfBirth" />
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label for="member.gender">Gender</label>
      <select id="member.gender" name="member.gender" class="form-control" [(ngModel)]="member.gender">
        <option></option>
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
    <div class="col-3">
      <label for="member.primaryLanguage">Primary Language</label>
      <select id="member.primaryLanguage" name="member.primaryLanguage" class="form-control" [(ngModel)]="member.primaryLanguage">
        <option></option>
        <option>English</option>
        <option>Spanish</option>
        <option>Other</option>
      </select>
    </div>
    <div class="col">
      <label for="member.relationship">Relationship</label>
      <select id="member.relationship" name="member.relationship" class="form-control" [(ngModel)]="member.relationship">
        <option></option>
        <option>Sibling</option>
        <option>Spouse</option>
        <option>Child</option>
        <option>Parent</option>
        <option>Guardian</option>
        <option>Grandparent</option>
        <option>Foster Parent</option>
      </select>
    </div>
    <div class="col-2">
      <label for="member.specialNeeds">Special Needs?</label>
      <select id="member.specialNeeds" name="member.specialNeeds" class="form-control" [(ngModel)]="member.specialNeeds">
        <option></option>
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="member.ethnicity">Member Ethnicity</label>
      <select id="member.ethnicity" name="member.ethnicity" class="form-control" [(ngModel)]="member.ethnicity">
        <option></option>
        <option>White</option>
        <option>Black</option>
        <option>Hispanic</option>
        <option>Asian</option>
        <option>Other</option>
      </select>
    </div>
    <div class="col">
      <label for="member.selfIdentifiesAs">Self-Identifies As</label>
      <select id="member.selfIdentifiesAs" name="member.selfIdentifiesAs" class="form-control" [(ngModel)]="member.selfIdentifiesAs">
        <option></option>
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
      </select>
    </div>
    <div class="col-2">
      <label for="member.school">School</label>
      <input id="member.school" name="member.school" class="form-control" type="text" [(ngModel)]="member.school" />
    </div>

  </div>

  <div class="row">
    <div class="col">
      <label for="member.medicalInsuranceType">Medical Insurance Type</label>
      <select id="member.medicalInsuranceType" name="member.medicalInsuranceType" class="form-control" [(ngModel)]="member.medicalInsuranceType">
        <option></option>
        <option>Employer</option>
        <option>Private</option>
        <option>AHCCCS</option>
        <option>Indian Health Services</option>
        <option>Military</option>
        <option>None</option>
        <option>Other</option>
      </select>
    </div>
    <div class="col">
      <label>Do You Have Primary Doctor?</label>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" name="caregiver.hasPrimaryDoctor" value="yes" class="form-check-input" [(ngModel)]="member.hasPrimaryDoctor"> Yes
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" name="caregiver.hasPrimaryDoctor" value="no" class="form-check-input" [(ngModel)]="member.hasPrimaryDoctor"> No
        </label>
      </div>
    </div>
    <div class="col-2">
      <label>Dental Insurance?</label>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" name="caregiver.dentalInsurance" value="yes" class="form-check-input"  [(ngModel)]="member.dentalInsurance"> Yes
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" name="caregiver.dentalInsurance" value="no" class="form-check-input"  [(ngModel)]="member.dentalInsurance"> No
        </label>
      </div>
    </div>
  </div>
</div>

<hr />
