<app-header></app-header>

<div class="inPageHeader">Report Generator</div>

<div class="container text-center">
  <div style="text-align: left; margin-bottom: 20px;">SELECT DATE RANGE:</div>

  <div class="row">
    <div class="col-2" style="text-align: left;"><label>START DATE:</label></div>
    <div class="col-4" style="text-align: left;"><input type="text" [(ngModel)]="startDate" /></div>
  </div>
  <div class="row">
    <div class="col-2" style="text-align: left;"><label>END DATE:</label></div>
    <div class="col-4" style="text-align: left;"><input type="text" [(ngModel)]="endDate" /></div>
  </div>

  <div style="text-align: right;">
    <button id="service-button" type="button" class="btn btn-green" (click)="onGenerate()">Generate</button>
  </div>
</div>
