<app-header></app-header>

<div class="inPageHeader">New Member Registration</div>

<div id="mainForm">
  <form>
    <div class="row">
      <div class="col">
        <label for="caregiver.lastName">Caregiver Last Name *</label>
        <input id="caregiver.lastName" class="form-control" type="text" [(ngModel)]="caregiver.lastName" />
      </div>
      <div class="col">
        <label for="caregiver.firstName">Caregiver First Name *</label>
        <input id="caregiver.firstName" class="form-control" type="text" [(ngModel)]="caregiver.firstName" />
      </div>
      <div class="col-2">
        <label for="caregiver.dateOfBirth">Caregiver DOB *</label>
        <input id="caregiver.dateOfBirth" class="form-control" type="text" [(ngModel)]="caregiver.dateOfBirth" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="caregiver.address">Caregiver Address *</label>
        <input id="caregiver.address" class="form-control" type="text" [(ngModel)]="caregiver.address" />
      </div>
      <div class="col-3">
        <label for="caregiver.city">City *</label>
        <input id="caregiver.city" class="form-control" type="text" [(ngModel)]="caregiver.city" />
      </div>
      <div class="col-2">
        <label for="caregiver.state">State *</label>
        <select id="caregiver.state" class="form-control" [(ngModel)]="caregiver.state">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="col-2">
        <label for="caregiver.zipCode">Zip Code *</label>
        <input id="caregiver.zipCode" class="form-control" type="text" [(ngModel)]="caregiver.zipCode" />
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <label for="caregiver.phoneNumber">Phone Number *</label>
        <input id="caregiver.phoneNumber" class="form-control" type="text" [(ngModel)]="caregiver.phoneNumber" />
      </div>
      <div class="col-2">
        <label for="caregiver.gender">Gender</label>
        <select id="caregiver.gender" class="form-control" [(ngModel)]="caregiver.gender">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="col">
        <label for="caregiver.maritalStatus">Marital Status</label>
        <select id="caregiver.maritalStatus" class="form-control" [(ngModel)]="caregiver.maritalStatus">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="col-2">
        <label for="caregiver.primaryLanguage">Primary Language</label>
        <select id="caregiver.primaryLanguage" class="form-control" [(ngModel)]="caregiver.primaryLanguage">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="caregiver.ethnicity">Caregiver Ethnicity</label>
        <select id="caregiver.ethnicity" class="form-control" [(ngModel)]="caregiver.ethnicity">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="col">
        <label for="caregiver.selfIdentifiesAs">Self-Identifies As</label>
        <select id="caregiver.selfIdentifiesAs" class="form-control" [(ngModel)]="caregiver.selfIdentifiesAs">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="col-2">
        <label for="caregiver.housingType">Housing Type</label>
        <select id="caregiver.housingType" class="form-control" [(ngModel)]="caregiver.housingType">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <label for="caregiver.highestEducation">Highest Education Completed</label>
        <select id="caregiver.highestEducation" class="form-control" [(ngModel)]="caregiver.highestEducation">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="col-5">
        <label for="caregiver.employmentType">Employment Type</label>
        <select id="caregiver.employmentType" class="form-control" [(ngModel)]="caregiver.employmentType">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <label>Income Type</label>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input"> CSFP
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input"> WIC
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input"> SNAP
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input"> TANF
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input"> DES Child Care Subsidy
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input"> Quality First Scholar
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input"> Other
          </label>
        </div>
      </div>
      <div class="col-5">
        <label for="caregiver.monthlyIncome">Monthly Income Amount ($)</label>
        <input id="caregiver.monthlyIncome" class="form-control" type="text" [(ngModel)]="caregiver.monthlyIncome" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="caregiver.medicalInsuranceType">Medical Insurance Type</label>
        <select id="caregiver.medicalInsuranceType" class="form-control" [(ngModel)]="caregiver.medicalInsuranceType">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="col">
        <label for="caregiver.hasPrimaryDoctor">Do You Have Primary Doctor?</label>
        <select id="caregiver.hasPrimaryDoctor" class="form-control" [(ngModel)]="caregiver.hasPrimaryDoctor">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="col-2">
        <label for="caregiver.dentalInsurance">Dental Insurance?</label>
        <select id="caregiver.dentalInsurance" class="form-control" [(ngModel)]="caregiver.dentalInsurance">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <label for="caregiver.childCareType">Child Care Type</label>
        <select id="caregiver.childCareType" class="form-control" [(ngModel)]="caregiver.childCareType">
          <option></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-10">
        * Indicates Required Field
      </div>
      <div class="col">
        <button type="button" class="btn btn-green form-control" (click)="onSubmit()">SUBMIT</button>
      </div>
    </div>
  </form>

</div>
