<app-header></app-header>

<div class="inPageHeader">New Member Registration</div>

<div id="mainForm">
  <form>
    <div class="row">
      <div class="col">
        <label for="caregiver.lastName">Caregiver Last Name *</label>
        <input id="caregiver.lastName" class="form-control" type="text" [(ngModel)]="caregiver.lastName" />
      </div>
      <div class="col">
        <label for="caregiver.firstName">Caregiver First Name *</label>
        <input id="caregiver.firstName" class="form-control" type="text" [(ngModel)]="caregiver.firstName" />
      </div>
      <div class="col-2">
        <label for="caregiver.dateOfBirth">Caregiver DOB *</label>
        <input id="caregiver.dateOfBirth" class="form-control" type="text" [(ngModel)]="caregiver.dateOfBirth" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="caregiver.address">Caregiver Address *</label>
        <input id="caregiver.address" class="form-control" type="text" [(ngModel)]="caregiver.address" />
      </div>
      <div class="col">
        <label for="caregiver.city">City *</label>
        <input id="caregiver.city" class="form-control" type="text" [(ngModel)]="caregiver.city" />
<!--        <label for="caregiver.state">State *</label>-->
<!--        <input id="caregiver.state" class="form-control" type="text" [(ngModel)]="caregiver.state" />-->
      </div>
      <div class="col-2">
        <label for="caregiver.zipCode">Zip Code *</label>
        <input id="caregiver.zipCode" class="form-control" type="text" [(ngModel)]="caregiver.zipCode" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="caregiver.phoneNumber">Phone Number *</label>
        <input id="caregiver.phoneNumber" class="form-control" type="text" [(ngModel)]="caregiver.phoneNumber" />
<!--        <label for="caregiver.gender">Gender</label>-->
<!--        <input id="caregiver.gender" class="form-control" type="text" [(ngModel)]="caregiver.gender" />-->
      </div>
      <div class="col">
        <label for="caregiver.maritalStatus">Marital Status</label>
        <input id="caregiver.maritalStatus" class="form-control" type="text" [(ngModel)]="caregiver.maritalStatus" />
      </div>
      <div class="col-2">
        <label for="caregiver.primaryLanguage">Primary Language</label>
        <input id="caregiver.primaryLanguage" class="form-control" type="text" [(ngModel)]="caregiver.primaryLanguage" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="caregiver.ethnicity">Caregiver Ethnicity</label>
        <input id="caregiver.ethnicity" class="form-control" type="text" [(ngModel)]="caregiver.ethnicity" />
      </div>
      <div class="col">
        <label for="caregiver.selfIdentifiesAs">Self-Identifies As</label>
        <input id="caregiver.selfIdentifiesAs" class="form-control" type="text" [(ngModel)]="caregiver.selfIdentifiesAs" />
      </div>
      <div class="col-2">
        <label for="caregiver.housingType">Housing Type</label>
        <input id="caregiver.housingType" class="form-control" type="text" [(ngModel)]="caregiver.housingType" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="caregiver.highestEducation">Highest Education Completed</label>
        <input id="caregiver.highestEducation" class="form-control" type="text" [(ngModel)]="caregiver.highestEducation" />
      </div>
      <div class="col">
        <label for="caregiver.employmentType">Employment Type</label>
        <input id="caregiver.employmentType" class="form-control" type="text" [(ngModel)]="caregiver.employmentType" />
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <label for="caregiver.incomeType">Income Type</label>
        <input id="caregiver.incomeType" class="form-control" type="text" [(ngModel)]="caregiver.incomeType" />
      </div>
      <div class="col-5">
        <label for="caregiver.monthlyIncome">Monthly Income Amount ($)</label>
        <input id="caregiver.monthlyIncome" class="form-control" type="text" [(ngModel)]="caregiver.monthlyIncome" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="caregiver.medicalInsuranceType">Medical Insurance Type</label>
        <input id="caregiver.medicalInsuranceType" class="form-control" type="text" [(ngModel)]="caregiver.medicalInsuranceType" />
      </div>
      <div class="col">
        <label for="caregiver.hasPrimaryDoctor">Do You Have Primary Doctor?</label>
        <input id="caregiver.hasPrimaryDoctor" class="form-control" type="text" [(ngModel)]="caregiver.hasPrimaryDoctor" />
      </div>
      <div class="col-2">
        <label for="caregiver.dentalInsurance">Dental Insurance?</label>
        <input id="caregiver.dentalInsurance" class="form-control" type="text" [(ngModel)]="caregiver.dentalInsurance" />
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <label for="caregiver.childCareType">Child Care Type</label>
        <input id="caregiver.childCareType" class="form-control" type="text" [(ngModel)]="caregiver.childCareType" />
      </div>
    </div>

  </form>
</div>

<div align="right">
  <button type="button" class="btn btn-green" (click)="onSubmit()">SUBMIT</button>
</div>
