<app-header></app-header>

<div class="inPageHeader">Select an Option Below</div>

<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="cccButton" (click)="addPersonClick()"><img style="width: 200px; height: 200px;" src="../../assets/images/addperson.png" /></div>
  </div>
  <div class="col d-flex justify-content-center">
    <div class="cccButton" (click)="editPersonClick()"><img style="width: 200px; height: 200px;"src="../../assets/images/editperson.png" /></div>
  </div>
  <div class="col d-flex justify-content-center">
    <div class="cccButton" (click)="reportsClick()"><img style="width: 200px; height: 200px;"src="../../assets/images/reports.png" /></div>
  </div>
</div>
<div class="row">
    <div class="col d-flex justify-content-center inPageSubHeader">Add New Member</div>
    <div class="col d-flex justify-content-center inPageSubHeader">Edit Existing Member</div>
    <div class="col d-flex justify-content-center inPageSubHeader">Generate Reports</div>
</div>
