<app-header></app-header>

<div class="inPageHeader">New Member Registration</div>

<div id="mainForm">
  <div class="row">
    <div class="col">
      <label for="caregiver.lastName">Caregiver Last Name *</label>
      <input type="text" [(ngModel)]="caregiver.lastName" />
    </div>
    <div class="col">
      <label for="caregiver.firstName">Caregiver First Name *</label>
      <input type="text" [(ngModel)]="caregiver.firstName" />
    </div>
    <div class="col">
      <label for="caregiver.dateOfBirth">Caregiver DOB *</label>
      <input type="text" [(ngModel)]="caregiver.dateOfBirth" />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="caregiver.address">Caregiver Address *</label>
      <input type="text" [(ngModel)]="caregiver.address" />
    </div>
    <div class="col">
      <div style="float: left; margin-right: 15px;">
        <label for="caregiver.city">City *</label>
        <input style="width: 134px;"type="text" [(ngModel)]="caregiver.city" />
      </div>
      <div style="float: left;">
        <label for="caregiver.state">State *</label>
        <input style="width: 50px;" type="text" [(ngModel)]="caregiver.state" />
      </div>
    </div>
    <div class="col">
        <label for="caregiver.zipCode">ZIP *</label>
        <input type="text" [(ngModel)]="caregiver.zipCode" />
    </div>
  </div>

  <!-- <div class="row">
    <div class="col">
      <label for="caregiver.lastName">Caregiver Last Name *</label>
      <input type="text" [(ngModel)]="caregiver.lastName" />
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="caregiver.lastName">Caregiver Last Name *</label>
      <input type="text" [(ngModel)]="caregiver.lastName" />
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="caregiver.lastName">Caregiver Last Name *</label>
      <input type="text" [(ngModel)]="caregiver.lastName" />
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="caregiver.lastName">Caregiver Last Name *</label>
      <input type="text" [(ngModel)]="caregiver.lastName" />
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div> -->
</div>

<button type="button" class="btn btn-success" (click)="onSubmit()">SUBMIT</button>
