.large-box-button {
    width: 424.7px;
    height: 260px;
    margin: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
    text-align: center;
    color: white;
}
