<nav class="navbar navbar-light" style="border-bottom: black solid 1px">
  <span><a href="login"><img src="./assets/logo.png" height="65" width="65" alt="Chandler Care Center"/></a></span>
  <span class="steps">STEP 2 OF 4</span>
</nav>
<div class="container text-center">
  <div class="large-text">Are you {{houseHoldName}}?</div>

  <div style="padding-top:40px">
    <a href="whoneeds"><img src="./assets/checkmark.png" width="195" height="195"></a>
    <a href="phonelookup"><img src="./assets/cancel.png" width="195" height="195"></a>
  </div>
</div>
