<nav class="navbar navbar-light" style="border-bottom: black solid 1px">
  <span><a (click)="goHome()"><img src="./assets/images/logo.png" height="65" width="65" alt="Chandler Care Center"/></a></span>
  <span class="steps">STEP 1 OF 4</span>
</nav>
<div class="container text-center">
  <p class="large-text">Please enter your phone number.</p>

  <form [formGroup]="registerForm">
    <div class="input-group">
      <input class="form-control phoneNumber" type="number" formControlName="phoneNumber" value="{{getPhoneNumber}}" disabled>
      <span class="input-group-btn">
          <button class="btn btn-green" (click)="backspace()" style="width:90px; margin-right:15px"> &lt; </button><button class="btn btn-green" (click)="onSubmit()">SUBMIT</button>
      </span>
    </div>

    <ol class="numbers-list list-inline">
      <li class="list-inline-item col-md-3" *ngFor="let number of numbers" (click)="select(number)">
        {{ number }}
      </li>
    </ol>
  </form>

</div>
